In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ...:                           'foo', 'bar', 'foo', 'foo'],
   ...:                    'B' : ['one', 'one', 'two', 'three',
   ...:                           'two', 'two', 'one', 'three'],
   ...:                    'C' : np.random.randn(8),
   ...:                    'D' : np.random.randn(8)})

In [6]:
def get_letter_type(letter):
   ...:     if letter.lower() in 'aeiou':
   ...:         return 'vowel'
   ...:     else:
   ...:         return 'consonant'
   ...:

In [7]:
grouped = df.groupby(get_letter_type, axis=1)

In [8]:
grouped.groups

{'consonant': ['B', 'C', 'D'], 'vowel': ['A']}

In [9]:
df

     A      B         C         D
0  foo    one -0.000049  2.704933
1  bar    one  1.421542 -0.405680
2  foo    two -1.956381 -0.975684
3  bar  three -0.291205  1.476917
4  foo    two  1.780612  1.245289
5  bar    two  1.001331  0.713317
6  foo    one -0.616682 -0.437761
7  foo  three -1.253623 -0.345923

In [10]:
sf = pd.Series([1, 1, 2, 3, 3, 3])

In [11]:
sf

0    1
1    1
2    2
3    3
4    3
5    3
dtype: int64

In [12]:
gb = sf.groupby(sf)

In [13]:
gb.groups

{1: [0, 1], 2: [2], 3: [3, 4, 5]}

In [14]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
   ...:                     'B': ['B0', 'B1', 'B2', 'B3'],
   ...:                     'C': ['C0', 'C1', 'C2', 'C3'],
   ...:                     'D': ['D0', 'D1', 'D2', 'D3']},
   ...:                     index=[0, 1, 2, 3])
   ...: 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
   ...:                     'B': ['B4', 'B5', 'B6', 'B7'],
   ...:                     'C': ['C4', 'C5', 'C6', 'C7'],
   ...:                     'D': ['D4', 'D5', 'D6', 'D7']},
   ...:                      index=[4, 5, 6, 7])
   ...: 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
   ...:                     'B': ['B8', 'B9', 'B10', 'B11'],
   ...:                     'C': ['C8', 'C9', 'C10', 'C11'],
   ...:                     'D': ['D8', 'D9', 'D10', 'D11']},
   ...:                     index=[8, 9, 10, 11])

In [17]:
pieces = {'x': df1, 'y': df2, 'z': df3}

In [18]:
result = pd.concat(pieces, keys=['x', 'y', 'z'],
   ....:                 levels=[['z', 'y', 'x', 'w']])

In [19]:
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [30]:
result = pd.concat(pieces, keys=['x', 'y', 'z'],
   ....:                 levels=[['z', 'y', 'x', 'w']],
   ....:                 names=['group_key','index'])
result

                   A    B    C    D
group_key index
x         0       A0   B0   C0   D0
          1       A1   B1   C1   D1
          2       A2   B2   C2   D2
          3       A3   B3   C3   D3
y         4       A4   B4   C4   D4
          5       A5   B5   C5   D5
          6       A6   B6   C6   D6
          7       A7   B7   C7   D7
z         8       A8   B8   C8   D8
          9       A9   B9   C9   D9
          10     A10  B10  C10  D10
          11     A11  B11  C11  D11

In [29]:
result.index

MultiIndex(levels=[[u'z', u'y', u'x', u'w'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           labels=[[2, 2, 2, 2, 1, 1, 1, 1, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           names=[u'group_key', None])

In [31]:
colors = itertools.cycle(["r", "b", "g"])

NameError: name 'itertools' is not defined